    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #151b29;
    }

    button {
        background: none;
        color: #ffa260;
        border: 3px solid;
        padding: 1em 2em;
        font-size: 1em;
        transition: all 0.25;
    }

    button:hover {
        border-color: #f1ff5c;
        color: white;
        box-shadow: 0px 0.5px 0.5px -0.4px #f1ff5c;
        transform: translateY(-0.25em);
        cursor: pointer;
    }